version: '3.7'
services:
  vnc:
    image: docker.novnc:latest
    container_name: vnc
    shm_size: 256mb
    stop_grace_period: 1m
    network_mode: bridge
    # restart: always
    environment:
      - DISPLAY_WIDTH=1920
      - DISPLAY_HEIGHT=899
      - VNC_PASS=123456
    ports:
      - 6080:6080/tcp
